.center-text {
    font-size: 2em; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    color: indigo; /* Set the color to indigo */
    text-align: center; /* Ensure text is centered */
    margin-top: -26%;
  }

  .center-link {
    font-size: 1em; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    color: rgb(65, 84, 10); /* Set the color to indigo */
    text-align: center;
    padding-left: 20%;
  }

  .button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(45deg, #00aeff, #9a09ee); /* Gradient from orange to pink */
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .grid-container {
    display: grid;
    place-items: center;   /* Centers content both horizontally and vertically */
    height: 25vh;         /* Make the container take up full viewport height */
  }
  
  /* Profile picture styling */
  .profile-picture {
    width: 150px;             /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;       /* Make the image round */
        /* Ensure the image covers the container */
  }

  /* body {
    height: 80vh;  
    margin: 0;     
    background: linear-gradient(to right, #ff7e5f, #feb47b) !important; 
  }
 */
 /* Basic style to reset margin/padding */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
} */

/* Sidenav styles */
.sidenav {
  height: 80%;
  margin-top: 6%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1111110a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.open {
  width: 202px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .close-btn {
  position: absolute;
  top: 17px;
  right: -86px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
  color: #f0f7fef0;
  margin-top: -18%;
  margin-left: 36%;
}

/* When sidenav is open, shift the main content */
.sidenav.open + #main {
  margin-left: 250px;
}

.white-tile {
  background-color: white; /* White background */
  padding: 20px; /* Space inside the tile */
  margin: 20px; /* Space around the tile */
  border-radius: 8px; /* Rounded corners for a smooth look */
  border: 1px solid #ddd; /* Light gray border */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a raised effect */
  max-width: 400px; /* Optional: max width for the tile */
  text-align: center; /* Optional: center the text */
  margin-left: 83px;
}