
   <div   class="relative min-h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('https://img.freepik.com/premium-vector/children-reading-book-different-posing-with-big-book-garden_33070-4216.jpg?semt=ais_hybrid');
   background-size: cover;
   background-position: center;
   height: 100vh;
   margin-top: 0px;
   opacity: 0.6;">>
   <div  class=" absolute justify-center items-center inset-0 bg-black bg-opacity-60 backdrop-blur-sm"></div>
    <div style="opacity: 1;z-index: 100;" class=" min-w-[800px] bg-[#75b569]  align-middle mx-auto p-6 rounded-2xl shadow">
      
      <h2 class="text-xl text-center font-extrabold mb-4">Lessons</h2>
    
    
    <div class="flex gap-2 p-2 border-2 border-blue-950 rounded-lg ">

      <div class=" col-span-1">
        
        <div class=" flex flex-col gap-5">
          <div *ngFor="let lesson of lessons" (click)="selectLesson(lesson.id)"
               class="flex  bg-white items-center justify-between cursor-pointer p-4 rounded-lg border hover:bg-gray-100 transition-all"
               [ngClass]="{'bg-green-500': this.user.completedLessons.includes(+lesson.id)}">
            <div class="flex items-center">
              <span class="cursor-pointer">
                {{ lesson.name }}
              </span>
              <span *ngIf="this.user.completedLessons.includes(+lesson.id)" class="ml-2 text-green-500">✔️</span>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class=" flex-1  col-span-2">
        <div class="mx-3 ">
          <div *ngIf="getSelectedLesson(); else noSelection" class="bg-white gap-4 p-6 rounded-lg shadow-md flex flex-col  justify-between ">
            <div>
              <h2 class="text-2xl font-semibold text-center text-green-800">{{ getSelectedLesson()?.name }}</h2>
              <p class="mt-4"> -{{ getSelectedLesson()?.description }}</p>
            </div>
           
            <button *ngIf="!this.user.completedLessons.includes(+this.selectedLessonId)" (click)="toggleCompletion(this.selectedLessonId)"  class="px-3 mt-5 py-2 bg-[#1f2354] text-white rounded-lg" > Mark as completed</button>
          </div>
          <ng-template #noSelection>
            <div class="text-center flex justify-center items-center">
              <p class="text-white">Select a lesson to view the content.</p>
            </div>
          </ng-template>
        </div>
        </div>
       
    </div>
  </div>
   </div>
   
   


  